// Variables
$white-color: #fff;
$primary-color: #ff7901;
$secondary-color: #7d7d7e;
$bg-menu: #000;
$border-color: #f2f2f4;
$base-color: #fcfbff;
$topbar-height: 90px;
$sidebar-width: 224px;
$font-color: #26262e;
$transition-duration: 0.3s;
$font-family: 'Poppins', sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $font-color;
  font-family: $font-family;
  background-color: $base-color;
}

a {
  text-decoration: none;
  transition: $transition-duration;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 5px;
}

.text-white {
  color: $white-color;
}

.text-primary {
  color: $primary-color;
}

.divider {
  width: 100%;
  height: 2px;
  display: block;
  margin-bottom: 30px;
  background-color: $border-color;
}

.switch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $secondary-color;
  margin-bottom: 30px;
  transition: $transition-duration;

  &-button {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $primary-color;

        &:before {
          background-color: $white-color;
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34px;
      border: 1px solid $primary-color;
      -webkit-transition: $transition-duration;
      transition: $transition-duration;

      &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 4px;
        border-radius: 50%;
        background-color: $primary-color;
        -webkit-transition: $transition-duration;
        transition: $transition-duration;
      }
    }
  }
}

.form-group {
  margin-bottom: 30px;

  label {
    display: block;
    margin-bottom: 10px;
    color: $secondary-color;
  }
}

.form-control {
  width: 100%;
  height: 60px;
  display: block;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid $border-color;
  transition: $transition-duration;

  &:focus {
    outline: 0;
    border-color: $primary-color;
  }

  &:hover {
    border-color: $primary-color;
  }
}

.card {
  border-radius: 10px;
  border: 1px solid $border-color;
  background: $white-color;
}

.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  img {
    width: 400px;
    max-width: 100%;
    height: auto;
  }
}

/* --- Topbar styles start here --- */
.topbar {
  width: 100%;
  height: $topbar-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px $sidebar-width;
  background-color: $bg-menu;
  transition: $transition-duration;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-toggle-sidebar {
      display: none;
      padding: 0;
      border: none;
      background-color: transparent;

      &:focus {
        outline: 0;
      }

      .icon {
        width: 30px;
        height: 23px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;

        span {
          width: 100%;
          height: 3px;
          display: block;
          position: absolute;
          background: $primary-color;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 10px;
          }

          &:nth-child(4) {
            top: 20px;
          }
        }
      }

      &.open {
        .icon {
          span {
            &:nth-child(1) {
              top: 18px;
              width: 0;
              left: 50%;
            }

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(4) {
              top: 18px;
              width: 0;
              left: 50%;
            }
          }
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        &.balance-label {
          display: inline-flex;
          align-items: center;

          .balance-amount {
            margin-left: 10px;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
          }
        }

        &.admin-link {
          margin-left: 30px;

          .dropdown {
            position: relative;
          }

          .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px 10px 10px;
            color: $font-color;
            border-radius: 45px;
            background-color: $white-color;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);

            .admin {
              display: inline-flex;
              align-items: center;
              margin-right: 18px;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;

              img {
                margin-right: 10px;
                border-radius: 50%;
              }
            }
          }

          .dropdown-menu {
            position: absolute;
            top: 50%;
            width: 100%;
            display: block;
            padding: 40px 20px 20px 20px;
            z-index: -1;
            border-radius: 0 0 10px 10px;
            border: 1px solid $border-color;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-5%);
            box-shadow: 0px 30px 20px -20px rgba(198, 211, 232, 0.2);
            background-color: $white-color;
            transition: $transition-duration;

            ul {
              display: flex;
              flex-direction: column;
              align-items: stretch;
              padding: 0;
              margin: 0;
              list-style-type: none;

              li {
                margin-bottom: 0;

                &:last-child {
                  margin-bottom: 0;
                }

                a {
                  display: flex;
                  padding: 5px 0;
                  color: #7d7d7e;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 30px;

                  &:hover {
                    color: $primary-color;
                  }

                  &.btn-logout {
                    padding: 10px 16px;
                    margin-top: 15px;
                    color: #ff5e5e;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 28px;
                    background-color: rgba(255, 1, 1, 0.1);

                    img {
                      margin-right: 10px;
                    }

                    &:hover {
                      background-color: rgba(255, 1, 1, 0.15);
                    }
                  }
                }
              }
            }

            &.show {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    padding-left: 30px;

    nav {
      justify-content: space-between;

      .btn-toggle-sidebar {
        display: block;
      }
    }
  }

  @media (max-width: 575px) {
    nav {
      ul {
        li {
          &.balance-label {
            .balance-amount {
              font-size: 30px;
            }
          }

          &.admin-link {
            margin-left: 15px;

            .dropdown-toggle {
              padding-right: 10px;
              background-color: transparent;

              .admin {
                margin-right: 0;

                img {
                  margin-right: 0;
                }

                span {
                  display: none;
                }
              }

              > img {
                display: none;
              }
            }

            .dropdown-menu {
              top: 100%;
              right: 0;
              padding: 20px 20px 20px 20px;
              border-radius: 10px 10px 10px 10px;
              transform: translateY(-5%);

              &:before {
                width: 12px;
                height: 12px;
                content: '';
                position: absolute;
                top: -6px;
                right: 25px;
                display: block;
                z-index: 1;
                transform: rotate(-135deg);
                background-color: $white-color;
                border-radius: 0 0 3px;
                border-right: 1px solid rgba(145, 158, 171, 0.12);
                border-bottom: 1px solid rgba(145, 158, 171, 0.12);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  body {
    &.sidebar-active {
      .topbar {

      }
    }
  }
}

/* --- Topbar styles end here --- */

/* --- Sidebar styles start here --- */
.sidebar {
  width: $sidebar-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-menu;
  z-index: 9999;
  transition: $transition-duration;

  .sidebar-brand {
    height: $topbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 30px 0;
    list-style-type: none;

    svg {
      margin-right: 22px;

      path {
        fill: #7d7d7d;
        transition: $transition-duration;
      }
    }

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &.has-submenu {
        .sidebar-nav-link {
          &:before {
            content: '';
            width: 10px;
            height: 100%;
            position: absolute;
            right: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.29289 6.29289C6.68342 6.68342 7.31658 6.68342 7.70711 6.29289L13 1' stroke='%237D7D7E' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10px;
            transition: $transition-duration;
          }

          &.active {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.29289 6.29289C6.68342 6.68342 7.31658 6.68342 7.70711 6.29289L13 1' stroke='%23FF7901FF' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 30px 0 40px;
      color: #7d7d7e;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      transition: $transition-duration;

      &:after {
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background-color: $primary-color;
        transition: $transition-duration;
      }

      &:hover {
        color: $primary-color;

        &:after {
          opacity: 1;
          visibility: visible;
        }

        svg {
          path {
            fill: $primary-color;
          }
        }
      }

      &.active {
        color: $white-color;

        &:after {
          opacity: 1;
          visibility: visible;
        }

        svg {
          path {
            fill: $primary-color;
          }
        }
      }
    }

    .submenu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      &-nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding: 0;
        list-style-type: none;

        svg {
          width: 12px;
          margin-right: 14px;
        }

        &-item {
          margin: 20px 0;

          &:last-child {
            margin: 0;
          }
        }

        &-link {
          display: flex;
          align-items: center;
          padding: 0 30px 0 50px;
          color: #7d7d7e;
          font-weight: 500;
          font-size: 12px;
          line-height: 30px;
          transition: $transition-duration;

          &:hover {
            color: $primary-color;

            svg {
              path {
                fill: $primary-color;
              }
            }
          }

          &.active {
            color: $white-color;

            svg {
              path {
                fill: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  &-overlay {
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(black, 0.75);
    z-index: -1;
    transition: $transition-duration;
  }

  @media (max-width: 991px) {
    margin-left: -$sidebar-width;

    &-overlay {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media (max-width: 991px) {
  body {
    &.sidebar-active {
      .sidebar {
        margin-left: 0;

        &-overlay {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/* --- Sidebar styles start here --- */

/* --- Main content style starts here --- */
.main-content {
  padding: calc($topbar-height + 30px) 30px 30px calc($sidebar-width + 30px);
  transition: $transition-duration;

  .profile-info {
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;

    .profile-avatar {
      width: 325px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-right: 30px;

      img {
        margin-bottom: 15px;
      }

      .name {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 38px;
      }

      small {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $secondary-color;
      }
    }
  }

  .cards-wrapper {
    flex-grow: 1;
    padding: 30px;

    .card-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
    }

    .credit-cards-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;

      .column {
        flex: 1 0 0%;
        padding: 0 15px;
        margin-bottom: 30px;
      }
    }

    .credit-card {
      height: 100%;
      position: relative;
      padding: 30px 30px 0 30px;
      color: $secondary-color;
      transition: $transition-duration;

      &-title {
        margin: 0 0 30px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
      }

      button {
        &.delete-card {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 10px;
          right: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          border-radius: 50%;
          background-color: #f2f2f4;
          transition: $transition-duration;

          svg {
            path {
              transition: $transition-duration;
            }
          }
        }
      }

      &:hover,
      &.default {
        color: $font-color;
        border-color: $primary-color;

        button {
          &.delete-card {
            background-color: #ffd7d7;

            svg {
              path {
                fill: #ff4242;
              }
            }
          }
        }
      }
    }
  }

  .input-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    margin: 0 -15px;

    .col-6 {
      flex: 1 0 0%;
      padding: 0 15px;
    }
  }

  @media (max-width: 991px) {
    padding-left: 30px;

    .profile-info {
      margin-bottom: 20px;

      .profile-avatar {
        width: 230px;
        margin-right: 20px;
      }
    }

    .cards-wrapper {
      padding: 20px;

      .credit-cards-row {
        margin: 0 -10px;

        .column {
          padding: 0 10px;
          margin-bottom: 20px;
        }
      }

      .credit-card {
        padding: 20px 20px 0 20px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: calc($topbar-height + 20px) 20px 20px 20px;

    .profile-info {
      flex-direction: column;

      .profile-avatar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .input-row {
      flex-direction: column;
      padding-left: 0;
    }
  }
}

/* --- Main content style starts here --- */


/* colors */
$blue: #428BFF;
$dark: #333;
$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 4;


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

.tabs {
  input[name="tab-control"] {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 2px solid $border-color;

    li {
      padding: 0 10px;
      text-align: center;

      button {
        position: relative;
        padding: 10px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: $transition-duration;

        &:after {
          width: 100%;
          height: 3px;
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          opacity: 0;
          visibility: hidden;
          background-color: $primary-color;
          transform-origin: center;
          transform: scale(0);
          transition: $transition-duration;
        }

        &.active {
          color: $primary-color;

          &:after {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
      }
    }
  }

  .content {
    max-width: 1000px;
    margin: 0 auto;

    .tab-pane {
      display: none;
      max-width: 1000px;
      padding: 50px;
      margin: 0 auto;

      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }

      &.show {
        display: block;
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

